.login {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(#F2C94C, #F2C94C, #219653); */
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10%;
}

.navline {
    width: 25%;
    height: 15px;
    /* background-color: rgb(243, 242, 242); */
    border-radius: 20px;
    background-color: #fff;
}

.active {
    background-color: #009ac9;
}

.middle {
    text-align: center;
}

.phone {
    width: 30%;
}

.otpdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
}

.otpinput {
    padding-left: 15px;
    letter-spacing: 28px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 180px;
    outline: none;
    align-self: center;
    font-size: 32px;
}

.second-last {
    width: 90%;
    height: 230px;
    border-radius: 20px;
    box-shadow: -1px -1px 20px -10px;
    background-color: #fff;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    width: 60%;
    height: 60px;
    background-color: #009ac9;
    border-style: none;
    align-self: center;
    color: #fff;
    border-radius: 30px;
}

.mobilenoinput {
    width: 80%;
    height: 50px;
    background-color: #ebf0f3;
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    font-size: x-large;
    align-self: center;
    margin-bottom: 20px;
}

.moviename {
    height: 30%;
    align-self: center;
}

h2,
p {
    color: #fff;
    border-color: #fff;
    /* text-shadow: 0px 0px 5px #000; */
}

p {
    font-weight: bold;
}

.add {
    height: 30%;
    align-self: center;
}

.btnlink {
    width: 60%;
    height: 60px;
    border-style: none;
    align-self: center;
    color: #fff;
    border-radius: 30px;
    text-align: center;
}